.main
{
  height: 600px;

}
#photo
{
  width: 100px;
  border-radius: 50%;
}
.bg-text
{
  position: absolute;
  top:30%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.overlay
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blue;
  overflow:hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transition: .3s ease;
  -webkit-tranisiton: .3s ease;
}

.container-fluid:hover .overlay
{
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.col .container
{
  height: 200px;
  width:200px;
  margin-bottom: 10px;
}

img
{
  width: 100%;
  border:5px solid black;
  border-radius:50%;
}

.column
{
  flex:25%;
  padding:0 4px;
}

.row
{
  display:flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

#content
{
  margin-bottom:150px;
}

.Main
{
  height:600px;
}
